<html xmlns:sec="http://www.thymeleaf.org" lang="pl">
<nav class="container container--70">
    <ul sec:authorize="isAnonymous()" class="nav--actions">
        <li><a href="/login" class="btn btn--small btn--without-border">Zaloguj</a></li>
        <li><a href="/register" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    </ul>
    <ul sec:authorize="isAuthenticated()" class="nav--actions">
        <li class="logged-user">
            Witaj <span sec:authentication="name"></span>
            <ul class="dropdown">
                <li><a href="/logout">Wyloguj</a></li>
            </ul>
        </li>
    </ul>

    <ul>
        <li><a href="/users" class="btn btn--without-border">Użytkownicy</a></li>
        <li><a href="/institutions" class="btn btn--without-border">Fundacje i organizacje</a></li>
        <li><a href="/donations" class="btn btn--without-border">Dotacje</a></li>
        <li><a href="/contacts" class="btn btn--without-border">Wiadomości</a></li>
    </ul>
</nav>