<html xmlns:sec="http://www.thymeleaf.org" lang="pl">
<nav class="container container--70">
    <ul sec:authorize="isAnonymous()" class="nav--actions">
        <li><a href="/login" class="btn btn--small btn--without-border">Zaloguj</a></li>
        <li><a href="/register" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    </ul>
    <ul sec:authorize="isAuthenticated()" class="nav--actions">
        <li class="logged-user">
            Witaj <span sec:authentication="name"></span>
            <ul class="dropdown">
                <li><a href="/myUser">Profil</a></li>
                <li><a href="/myDonations">Moje zbiórki</a></li>
                <li><a href="/logout">Wyloguj</a></li>
            </ul>
        </li>
    </ul>

    <ul>
        <li><a href="/" class="btn btn--without-border active">Start</a></li>
        <li><a href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
        <li><a href="#about-us" class="btn btn--without-border">O nas</a></li>
        <li><a href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
        <li><a href="/form" class="btn btn--without-border">Przekaż dary</a></li>
        <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
    </ul>
</nav>