<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
  <header th:insert="header.html :: nav"></header>
    <div th:text="*{notification}"></div>
    <section class="login-page">
      <h2>Załóż konto</h2>
      <form action="/register" th:object="${user}" method="post">
        <div class="form-group">
          <input type="text" name="firstname" placeholder="Firstname" th:field="*{firstname}"/>
        </div>
        <div class="form-group">
          <input type="text" name="surname" placeholder="Surname" th:field="*{surname}"/>
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" th:field="*{username}"/>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" th:field="*{password}"/>
        </div>

        <div class="form-group form-group--buttons">
          <!--<a href="login.html" class="btn btn--without-border">Zaloguj się</a>-->
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>

    <div th:insert="footer.html :: footer"></div>

  </body>
</html>
